/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.about {
  background: url(../img/background.jpg);
  background-size: cover;
  position: relative;
}
.about .dandilion {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 30%;
  max-width: 200px;
}
.about p {
  Margin: 15%;
}
.form {
  margin-left: 10%;
  margin-bottom: 20%;
}
.h1 {
  text-align: center;
}
.contact {
  background: url(../img/background.jpg);
  background-size: cover;
  position: relative;
}
.contact .dandilion {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 30%;
  max-width: 200px;
}
.gallery {
  background: url(../img/background.jpg);
  background-size: cover;
  position: relative;
}
.content {
  margin: 5%;
}
.finearts,
.graphicarts,
.productbranding {
  background-color: black;
  margin: 5%;
  float: center;
  border: 5%;
  padding: 5%;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
}
.finearts a,
.graphicarts a,
.productbranding a {
  display: inline-block;
}
.finearts a img,
.graphicarts a img,
.productbranding a img {
  max-width: 100%;
}
.finearts h2,
.graphicarts h2,
.productbranding h2,
.finearts h4,
.graphicarts h4,
.productbranding h4 {
  color: white;
}
.resume {
  background: url(../img/background.jpg);
  background-size: cover;
  position: relative;
}
.resume .dandilion {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 30%;
  max-width: 200px;
}
.content {
  float: center;
  border: 10%;
}
.resumepaper {
  width: 100%;
}
.footer {
  margin-bottom: 3%;
  color: white;
  background: black;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html,
body {
  min-height: 100%;
  margin: 0;
}
body {
  background-color: black;
}
.home {
  background: url(../img/background.jpg);
  background-size: cover;
  position: relative;
}
.home .dandilion {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 5%;
  width: 30%;
  max-width: 200px;
}
.logo {
  width: 50%;
  margin: 3%;
}
span {
  display: inline;
}
.gallery-pages {
  display: block;
  padding: 20px 20px;
}
.gallery-pages a {
  display: inline-block;
}
.gallery-pages img {
  width: 100%;
}
.gallery-pages h4 {
  text-align: center;
}
ul.topnav {
  font-weight: bold;
  border-top: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  overflow: hidden;
}
ul.topnav li {
  float: right;
}
ul.topnav li a {
  display: inline-block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}
@media screen and (max-width: 550px) {
  ul.topnav li a {
    font-size: 18px;
    padding: 8px 10px;
  }
}
ul.topnav li a:hover {
  background-color: #f2f2f2;
}
.footer {
  margin-bottom: 3%;
  color: white;
  background: black;
}
@media screen and (min-width: 480px) {
  .gallery-pages {
    width: 25%;
    float: left;
  }
}
@media screen and (min-width: 768px) {
  .gallery-pages {
    width: 20%;
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 767px) {
  .gallery-pages {
    width: 40%;
  }
}
