/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#about-page {
  background-color: #ccc;
}
#contact-page {
  background-color: #ccc;
}
#gallery-pages {
  background-color: #ccc;
}
#resume-page {
  background-color: #ccc;
}
.logo {
  width: 50%;
  margin: 3%;
}
p {
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
}
.navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  float: right;
}
.dandilion {
  float: right;
  width: 30%;
  margin: 5%;
  bottom: 0%;
}
.footer {
  margin-bottom: 3%;
}
