/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#about-page {
  background-image: url("img/background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
#contact-page .form {
  margin-left: 30%;
}
#contact-page .h1 {
  text-align: center;
}
.content {
  margin: 5%;
}
.finearts,
.graphicarts,
.productbranding {
  padding: 5%;
  margin-bottom: 5%;
  background-color: black;
}
img {
  float: center;
}
h2,
h4 {
  text-align: center;
  color: white;
}
#resume-page {
  background-color: #ccc;
}
html,
body {
  min-height: 100%;
  margin: 0;
}
body {
  background-color: black;
}
.home {
  background: url(../img/background.jpg);
  background-size: cover;
  position: relative;
}
.home .dandilion {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 30%;
  max-width: 300px;
}
.logo {
  width: 50%;
  margin: 3%;
}
span {
  display: inline;
}
.gallery-pages {
  display: inline-block;
  margin: 20px 50px;
}
.gallery-pages img {
  display: block;
}
.gallery-pages h4 {
  display: inline;
  text-align: center;
}
ul.topnav {
  font-weight: bold;
  border-top: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  overflow: hidden;
}
ul.topnav li {
  float: right;
}
ul.topnav li a {
  display: inline-block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}
@media screen and (max-width: 550px) {
  ul.topnav li a {
    font-size: 18px;
    padding: 8px 10px;
  }
}
ul.topnav li a:hover {
  background-color: #f2f2f2;
}
.footer {
  margin-bottom: 3%;
  color: white;
  background: black;
}
