// main: main.less

#gallery-pages {

}

.gallery {
  background: url(../img/background.jpg);
  background-size: cover;
  position: relative;
}

.content {
  margin: 5%;
}

.finearts,
.graphicarts,
.productbranding {
  background-color: black;
  margin: 5%;
  float: center;
  border: 5%;
  padding: 5%;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;

  a {
    display: inline-block;

    img {
      max-width: 100%;
    }
  }

  h2, h4 {
    color: white;
  }
}
