// out: ../css/main.css

// this file needs to be imported before any others
@import "vendor/elements.less";

@import "about-page.less";
@import "colors.less";
@import "contact-page.less";
@import "gallery-pages.less";
@import "main-gallery-page.less";
@import "resume-page.less";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  background-color: black;
}

.home {
  background: url(../img/background.jpg);
  background-size: cover;
  position: relative;

  .dandilion {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 5%;
    width: 30%;
    max-width: 200px;
  }
}

.logo {
  width: 50%;
  margin: 3%;
}

span {
    display: inline;
  }

//.gallery-pages {
//    clear: both;
//    text-align:center;
//  }

.gallery-pages {
  display: block;
  padding: 20px 20px;
}

.gallery-pages a {
  display: inline-block;
}

.gallery-pages img {
  // display: block;
  // width: 30%;
  width: 100%;
}

.gallery-pages h4 {
  // display: inline;
  text-align: center;
}

ul.topnav {
  font-weight: bold;
  border-top: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  overflow: hidden;
}

ul.topnav li {
  float: right;
}
ul.topnav li a {
  display: inline-block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

@media screen and (max-width: 550px) {
  ul.topnav li a {
    font-size: 18px;
    padding: 8px 10px;
  }
}

ul.topnav li a:hover {
  background-color: #f2f2f2;
}


//.navigation {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  float: right;
//}

.footer {
  margin-bottom: 3%;
  color: white;
  background: black;
}


@media screen and (min-width: 480px) {

 .gallery-pages {
   width: 25%;
   float: left;
 }
}

@media screen and (min-width: 768px) {

 .gallery-pages {
   width: 20%;
   margin-bottom: 20%;
 }
}

@media screen and (max-width: 767px) {

 .gallery-pages {
   width: 40%;
 }
}
